**/bin/
**/obj/
**/.vs/
**/.vscode/

.git
.gitignore
README.md

docker-compose*
Dockerfile*

node_modules
npm-debug.log

*.md
*.log
*.tmp
*.user
*.suo

TestResults
coverage

.env
.env.*
